@page "/regionpage"
@inherits RegionComponent


<h1 style="font-size:18px">Region Management</h1>
<div class="grid-container">

    <div>

      
        <select class="PageSize" @onchange="ChangePageSize" id="PageSize" name="PageSize">
            <option value="10">Page Size </option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>


    </div>
    <div>

        <form class="example">
            <input type="text" placeholder="Search.." name="search" @bind="SearchTerm" @bind:event="oninput">
            @*<button type="submit"><i class="fa fa-search"></i></button>*@
        </form>

    </div>

    <div>
        <button class="Icon" @onclick="AddCategory"><i class="oi oi-plus" style="padding-right:10px;"></i></button>
    </div>
    <div style="margin-right:10px">
        <div class="btn-group">
            <button class="btn btn-danger">ToPrint</button>
            <button class="btn btn-warning" @onclick="ExportToExcel">ToExcel</button>
            <button class="btn btn-success" @onclick="ExportToCSV">ToCSV</button>
        </div>

    </div>

</div>
<div class="Table-container">
    <div>
        @if (getRegion == null)
        {
            <div class="spinner"></div>
        }
        else
        {

            <table class="table">
                <thead>
                    <tr>
                        <th> No.</th>
                        <th>Region</th>
                        <th>Country</th>


                        <th width="50px"> </th>
                        <th width="50px"> </th>

                    </tr>
                </thead>
                <tbody>

                    @if (getRegion.Count() > 0)
                    {
                        Count = ((PageIndex - 1) * PageSize) + 1;
                        @foreach (var obj in getRegion)
                        {
                    <tr>
                        <td>@Count</td>
                        <td>@obj.RegionName</td>
                        <td>@obj?.Country?.CountryName</td>

                        <td>


                            <button class="Icon" @onclick="(() => Delete(obj.ID))"><i class="oi oi-trash"></i></button>



                        </td>
                        <td>
                            <button class="Icon" @onclick="(() => EditCategory(obj.ID))"><i class="oi oi-pencil"></i></button>
                        </td>
                    </tr>
                            Count++;



                        }

                    }
                </tbody>
            </table>

        }
    </div>
    <DeleteConfirm @ref="DeleteConfirmation" ConfirmationChange="ConfirmDelete_Click"
                   ConfirmationMessage=@($"Are you sure you want to delete")>
    </DeleteConfirm>
    <AddRegion @ref="addComponent" EventAdd="AddData"></AddRegion>

    <div class="center">
        <div class="pagination" @ref="Paging">
            <a @onclick="(()=>Previous())">&laquo;</a>
            @for (int i = 1; i <= PageCount; i++)
            {
                var buttonNumber = i;
                if (i == 1)
                {
                    <a  @onclick="@(() => PageEvent(buttonNumber))">@i</a>
                }
                else
                {
                    <a @onclick="@(() => PageEvent(buttonNumber))">@i</a>
                }

            }
            <a @onclick="(()=>Next())">&raquo;</a>
        </div>
    </div>
</div>


